<html>
	<h1>
		{{ .title }}
	</h1>
    <form method="post">
        <label>
            User
            <input type="text" name="user"/>
        </label>
        <label>
            Password
            <input type="password" name="password"/>
        </label>
        <input type="submit" value="Submit">
    </form>
</html>