<html>
	<h1>
		{{ .title }}
	</h1>
    <form method="post">
        <label>
            Name
            <input type="text" name="name"/>
        </label>
        <input type="submit" value="Submit">
    </form>
</html>